<!-- 友情链接 -->
<div class="widget widget-default">
    <div class="widget-header"><h6><i class="fa fa-link fa-fw"></i>友情链接</h6></div>
    <ul class="widget-body hot-posts">
        <%= for link <- @links do %>
        <a class="list-group-item" title="<%= link.name %>" href="<%= link.url %>" target="_blank">
            <%= link.name %>
            <span class="clearfix"></span>
        </a>
        <% end %>
    </ul>
</div>
