html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    font: 12px 'Microsoft Yahei', '微软雅黑', 'simsun', Arial, sans-serif;
    background-color: #edf4f6;
    min-width: 960px;
}

#avatar {
    width: 48px; 
    height: 48px;
    vertical-align: middle;
}

#avatar_update {
    width: 70px; 
    height: 70px;
    vertical-align: middle;
}
#username {
    font-size: 25px; 
    margin-left: 5px;
    vertical-align: middle;
}

.manage {
    text-align: center;
    font-size: 30px; 
    margin-top: 10px;
    width: 700px;
    height: 50px;
}

.category_manage {
    background-color: #d9edf7;
}

.article_manage {
    background-color: #f0ad4e;
}

.tag_manage {
    background-color: #ddd;
}

.comment_manage {
    background-color: #dff0d8;
}

.manage a {
    display: block;
}

.logout {
    float: right;
    font-size: 15px;
    vertical-align: middle;
}

a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}

.upload {
    display: inline;
}

#update_profile {
    height: 30px;
    width: 130px;
}

#upload_button {
    display: inline; 
    margin-left: 30px;
}

.box {
    margin-top: 38px;
    border: 1px solid #e8eff1;
    background-color: #fff;
    overflow: hidden;
}

.ff {
    float: right;
}

#box_hr {
    margin-bottom: 12px;
    margin-top: 12px;
}

.box .elehead {
    margin-left: 10px;
    margin-right: 10px;
}

.box .ele {
    margin-left: 20px;
    margin-right: 20px;
}
