@mixin transform-action($style) {
       transform: $style;
       -o-transform: $style;
       -ms-transform: $style;
       -moz-transform: $style;
       -webkit-transform: $style; 
}

@mixin image-animation($style) {
    animation:widget-user-image $style;
    -o-animation:widget-user-image $style;
    -ms-animation:widget-user-image $style;
    -moz-animation:widget-user-image $style;
    -webkit-animation:widget-user-image $style;
}

@keyframes widget-user-image {
    0% {
        @include transform-action(rotateY(0deg));
    } 
    100% {
        @include transform-action(rotateY(360deg));
    } 
}

.widget-user-image:hover {
    @include image-animation(2.5s linear infinite);
}

.widget-user-image {
    cursor: pointer;
    transform-style: preserve-3d;
}

.table {
    margin-top: 10px;
    .th-right {
        text-align:right;
    }
    form.link {
        display: inline-block;
    }
}

.table-title {
    text-align:center;
}

select {
  border: solid 1px #000;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/images/arrow.png") no-repeat scroll right center transparent;


  padding-right: 14px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:10px 0px;
    .avatar {
        width: 73px;
        height: 73px;
    }
    .elehead {
        margin-left: 5px;
    }
    .ff {
        float: right;
        margin-right: 5px;
    }
    .ele {
        margin: 10px;
    }
}

.form-signin-regist {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    input[type="text"], input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 20px;
        padding: 7px 9px;
    }
    h2 {
        margin-top: 0px;
        line-height: 40px;
    }
    span {
        vertical-align: middle;
        padding-top: 16px;
        float: right;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    .form-signin-heading, .form-register-heading {
        margin-bottom: 10px;
        text-align: center;
    }
}

.form-register {
    @extend .form-signin-regist;
}

.form-signin {
    @extend .form-signin-regist;
}
