@mixin transform-action($style) {
   -webkit-transform: $style; 
      -moz-transform: $style;
       -ms-transform: $style;
        -o-transform: $style;
           transform: $style;
}

@mixin image-animation($style) {
    -webkit-animation:widget-user-image $style;
       -moz-animation:widget-user-image $style;
        -ms-animation:widget-user-image $style;
         -o-animation:widget-user-image $style;
            animation:widget-user-image $style;
}

@keyframes widget-user-image {
    0% {
        @include transform-action(rotateY(0deg));
    } 
    100% {
        @include transform-action(rotateY(360deg));
    } 
}

.widget-user-image:hover {
    @include image-animation(2.5s linear infinite);
}

.widget-user-image {
    cursor: pointer;
    transform-style: preserve-3d;
}

.table {
    margin-top: 10px;
    .th-right {
        text-align:right;
    }
    form.link {
        display: inline-block;
    }
}

.table-title {
    text-align:center;
}


.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    margin-bottom: 40px;
    .header {
        border-color: #ddd;
        padding:10px 0px;
        background-color: #f5f5f5;
    }
    hr {
        margin-top: 0px;
    }
    .elehead {
        margin-left: 5px;
    }
    .ff {
        float: right;
        margin-right: 5px;
    }
    .ele {
        margin: 10px;
    }
}

.form-signin-regist {
    max-width: 450px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    input[type="text"], input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 20px;
        padding: 7px 9px;
    }
    h2 {
        margin-top: 0px;
        line-height: 40px;
    }
    span {
        vertical-align: middle;
        padding-top: 16px;
        float: right;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    .form-signin-heading, .form-register-heading {
        margin-bottom: 10px;
        text-align: center;
    }
}

.form-register {
    @extend .form-signin-regist;
}

.form-signin {
    @extend .form-signin-regist;
}

.edit {
    border-radius: 3px;
    min-height: 270px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    .header {
        border-color: #ddd;
        padding:10px 15px;
        background-color: #f5f5f5;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px; 
        border-top-left-radius: 3px; 
    }
    .body {
        margin: 25px 10px;
    }
}

.dropdown-toggle {
    color: #fff;
    &:hover {
        background-color: #52768e!important;
    }
    .avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
    } 
}

.nav .open>a, .nav .open>a:hover {
    color: #fff;
    background-color: #52768e!important;
}




.avatar-preview .media-object {
        display: inline-block;
}

@mixin avatar($width: 73px) {
    width: $width;
    height: $width;
    border-radius: 120px;
}

.avatar-96 {
    @include avatar(96px);
}

.avatar-48 {
    @include avatar(48px);
}
.avatar-32 {
    @include avatar(32px);
}
.avatar-16 {
    @include avatar(16px);
}

.hot-posts {
    a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.navbar-self>li>a {
    margin:8px 10px;
    padding:5px 20px!important;
    border:1px solid #3f5b6e!important;
    border-radius:50px;background:rgba(82,118,142,.25)!important;
    color:#fff;font-size:1em;
    text-shadow:#666 1px 1px 2px;
    &:hover {
        color:#FF6E40;
        border:1px solid #FF6E40!important;
        background:#3f5b6e;
    }
    &:active {
        background:#3f5b6e;
    }
}

$text-shadow: 5px 5px 5px #3f5b6e;

.navbar-header {
    a {
        color: #fff;
        font-size: 1.9em;
        text-decoration: none;
        text-shadow: $text-shadow;
        &:hover {
            color: #FF6E40;
            text-shadow: $text-shadow;
        }
    }
    .navbar-brand:hover {
        color: #FF6E40;
    }
}

header .description {
    font-size: 1.4em;
    text-shadow: $text-shadow;
}

.dropdown-menu {
    padding: 0px;
    margin-right: 10px;
    &>li>a:hover {
        background-color:#3f5b6e!important;
    } 
}

table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
    table-layout:fixed;
    .over {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        a {
            color: #555;
            &:visited, &:hover, &:link {
                text-decoration: none;
            }
        }
    }   
    th {
        font-weight: bold; /*加粗*/
        text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
        background: rgba(158,188,226,0.2); /*背景色*/
    }
    th, td {
        height: 35px; /*统一每一行的默认高度*/
        border: 1px solid #dedede; /*内部边框样式*/
        padding: 0 10px; /*内边距*/
    }
    tr:hover {
        background: #efefef; 
    }
}

.home {
    .preview-widget {
        float: left;
        padding: 10px;
        width: 20%;
        background: #fff;
        .item {
            height: 120px;
            border: 1px solid #ddd;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
            .fa {
                font-size: 60px;
            }
            span {
                margin-top: 10px;
                display: block;
            }
        }
        .item1 .fa {
            color: #ffd52f;
        }
        .item2 .fa {
            color: #3bd54e;
        }
        .item3 .fa {
            color: #317dda;
        }
        .item4 .fa {
            color: #f86334;
        }
        .item5 .fa {
            color: #a94442;
        }
    }
}
