<div id="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h2 class="table-title">创建标签</h2>
                <%= render "form.html", changeset: @changeset,
                                        action: user_tag_path(@conn, :create) %>
            </div>
        </div>
    </div>
</div>
