<h2>Edit article</h2>

<%= render "form.html", changeset: @changeset, categorys: @categorys,
                        action: user_article_path(@conn, :update, @article) %>

<%= link "Back", to: user_article_path(@conn, :index) %>
