<div id="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2 class="table-title">创建文章</h2>
            <%= render "form.html", changeset: @changeset, tags: @tags, exist_tags: @exist_tags, 
                                action: user_article_path(@conn, :create), categorys: @categorys %>
            </div>
        </div>
    </div>
</div>
